body {
  background: linear-gradient(#407b9b, #9900ff);
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;
}

#head {
  display: flex;
  justify-content: center;
  filter: drop-shadow(3px 3px 3px #877373);
}

#submitButton {
  width: 50%;
  margin: 10px;
  border: none;
  padding: 10px 15px;
  background-color: #541ab1;
  filter: drop-shadow(5px 5px 1px #000000);
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

#submitButton:hover {
  cursor: pointer;
  background-color: #9900ff;
  transform: translateY(2px) translateX(2px);
  filter: drop-shadow(3px 3px 0px #000000);
}

#submitButton:active {
  transform: translateY(1px) translateX(1px);
  filter: drop-shadow(2px 2px 0px #000000);
}

#buttons {
  display: flex;
}

#output {
  width: 60vh;
  /* height: 5vh; */
  margin: 10px;
  padding: 10px;
  border: 0.1vh solid rgba(255, 255, 255, 0.323);
  border-radius: 0.7vh;
}

#readAloud {
  cursor: pointer;
  width: 3vh;
  /* height: 5vh; */
  margin: 3vh;
  padding: 3vh;
  border: 0.3vh solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
}

#readAloud:hover {
  background-color: #ffffff3a;
}

#userInput {
  background-color: #ffffff3a;
  color: white;
  margin: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  resize: none;
  overflow-y: hidden;
  /* min-height: 35vh; */
  height: auto;
  width: 55%;
}



#userInput::placeholder {
  color: rgba(255, 255, 255, 0.625);
}

#userInput:focus {
  outline: none;
}

#voiceSelector {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border: 0.2vh solid rgba(255, 255, 255, 0.323);
  border-radius: 0.7vh;
  height: vh;
  color: white;
}

#voiceSelector:focus {
  outline: none;
}

#voiceSelector option {
  color: black;
}

#virtualKeyboard {
  width: 70%;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
  color: white;
}

#virtualKeyboard:hover {
  background-color: #ffffff3a;
}

#loading-animation {
  display: none;
  /* Initially hidden */
  /* Add your animation styles here (e.g., for a spinner) */
}

.svg-spinners--6-dots-scale {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./assets/spinner.svg");
}

#modelSelector {
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
}

#modelSelector:focus {
  outline: none;
}

#modelSelector option {
  color: black;
}
