* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("./assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin: 0px;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*loading screen*/

#intro {
  width: 100%;
  display: flex;
  justify-content: center;
  scale: 3;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  animation: becomeSmall 4s ease-in-out forwards;
}

#blackScreen {
  position: absolute;
  z-index: 998;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  animation: blurry 4s ease-in-out forwards;
}

@keyframes blurry {
  0% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes becomeSmall {
  0% {
    transform: translateY(250%);
  }
  30% {
    transform: translateY(250%);
  }

  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

/*end of loading screen*/

/*nav bar*/
.nav-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}

.nav-button:focus {
  outline: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.537);
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  padding: 20px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: rgb(33, 78, 78);
}

@media (max-width: 800px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .nav-button {
    display: block;
  }
}

@media (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .nav-button {
    display: block;
  }
  nav {
    background-color: rgb(62, 109, 149);
  }
}

/* end of nav bar*/

/* Models */
#modelNames {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px -50px 0px 20px;
}

/* .models {
  width: 200px;
  display: block;
  color: white;
  background-color: teal;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.models:hover {
  background-color: rgb(33, 78, 78);
}

.models:active {
  background-color: rgb(111, 182, 182);
} */

#Models {
  display: flex;
  justify-content: center;
  padding: 100px;
}
#displayer {
  display: flex;
  justify-content: center;
}

#io {
  display: flex;
  justify-content: center;
}

#output,
#userInput {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  width: 20vw;
  margin: 5px;
  padding: 15px;
  background-color: thistle;
}

#output {
  color: black;
}

/* media query */

@media screen and (max-width: 1400px) {
  body {
    background-size: cover;
  }
  #modelNames {
    margin: 0px;
    position: relative;
  }
  #models {
    margin: 0px;
  }
  #displayer {
    display: block;
  }
  #Models {
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-size: cover;
  }
  #modelNames {
    margin: 0px;
  }
  #models {
    margin: 0px;
  }
  #displayer {
    display: block;
  }
  #Models {
    padding: 30px;
  }
}

@media screen and (max-width: 850px) {
  #displayer {
    display: block;
  }
  #modelNames {
    margin: 0px;
  }
  #models {
    margin: 0px;
  }
}

@media screen and (max-width: 600px) {
  #displayer {
    display: block;
  }
  #modelNames {
    margin: 0px;
  }
  #models {
    margin: 0px;
  }
  .threeButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#userInput {
  resize: none;
  height: 9rem;
}

#userInput:focus,
#output:focus {
  outline: none;

  /*   background-color: rgb(172, 160, 172);*/
}

#translateButton,
#tts,
.models,
#virtualKeyboard {
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgb(17, 114, 114);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  filter: drop-shadow(0.1px 0.1px 12px rgba(50, 50, 50, 0.521));
  transition: 0.3s ease-in-out all;
  /* setting with to fit the maximum length of the text and same for every model; */
  width: 17rem;
  /* animation: floating 1s linear infinite; */
}
#translateButton {
  width: 25px;
}

.threeButtons {
  position: relative;
  margin: 0 180px;
  display: flex;
  justify-content: center;
}

#translateButton:hover,
#tts:hover,
.models:hover,
#virtualKeyboard:hover {
  background-color: rgb(33, 78, 78);
  transform: translateY(3px);
  filter: drop-shadow(0px 3px 1px rgb(0, 0, 0));
  /* animation: none; */
}

.models:active {
  background-color: rgb(111, 182, 182);
}

#arrow,
#tts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

/* #translateButton {
  
} */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* styling the voiceselector drop down */
#voiceSelector {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 15px;
  background-color: rgba(28, 105, 100, 0.341);
  color: white;
  border-radius: 20px;
  outline: none;
}

#tts,
#translateButton {
  margin: 25px;
  width: fit-content;
}

/* animation of background image to slowly zoom in */
/* @keyframes becomeSmall {
  0% {
    scale: 3;
  }
  100% {
    scale: 1;
  }
} */
/* end of Models */

#suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.suggestions {
  margin: 10px;
  padding: 10px;
  background-color: #37624e38;
  border: 1px solid #ccc;
  border-radius: 15px;
}
