body {
  background: linear-gradient(#407b9b, #9900ff);
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;
}

#head {
  display: flex;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #000000);
}

#submitButton {
  margin: 10px;
  border: none;
  padding: 10px;
  background-color: #2d046f;
  filter: drop-shadow(5px 5px 1px #000000);
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

#submitButton:hover {
  cursor: pointer;
  background-color: #9900ff;
  transform: translateY(2px) translateX(2px);
  filter: drop-shadow(3px 3px 0px #000000);
}

#submitButton:active {
  transform: translateY(1px) translateX(1px);
  filter: drop-shadow(2px 2px 0px #000000);
}

#output {
  width: 400px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
}

#readAloud {
  cursor: pointer;
  width: 20px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
}

#readAloud:hover {
  background-color: #ffffff3a;
}

#userInput {
  background-color: #ffffff3a;
  color: white;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

#userInput::placeholder {
  color: rgba(255, 255, 255, 0.625);
}

#userInput:focus {
  outline: none;
}

#selector {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
  color: white;
}

#selector:focus {
  outline: none;
}

#selector option {
  color: black;
}

#virtualKeyboard {
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.323);
  border-radius: 5px;
  color: white;
}

#virtualKeyboard:hover {
  background-color: #ffffff3a;
}

.simple-keyboard {
  display: none;
  color: black;
  width: 50%;
}

#loading-animation {
  display: none;
  /* Initially hidden */
  /* Add your animation styles here (e.g., for a spinner) */
}

.svg-spinners--6-dots-scale {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./assets/spinner.svg");
}
